<%- include('includes/head', { pageTitle: 'An error occoured' }) %>
</head>
<body>
  <%- include('includes/header') %>
  <main>
    <h1>Not Autenticated</h1>
    <p>You are not authenticated !</p>
    <a href="/" class="btn">Back to safety</a>
  </main>
<%- include('includes/footer') %>