<%- include('includes/head', { pageTitle: 'An error occoured' }) %>
</head>
<body>
  <%- include('includes/header') %>
  <main>
    <h1>Something went wrong!</h1>
    <p>Unfoutunately , something went wrong - please try again later !</p>
    <a href="/" class="btn">Back to safety</a>
  </main>
<%- include('includes/footer') %>